# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
token.txt
*.log
backend/libs/

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
dist/
web-build/

# Mac/Linux system files
.DS_Store
backend/secrets.py
