# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
token.txt
*.log
backend/libs/

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
dist/
web-build/

# Mac/Linux system files
.DS_Store
backend/secrets.py
mobile/notifinvest-firebase-adminsdk-fbsvc-ebec4f88aa.json

# Android
*.apk
*.ap_
*.dex
*.class
bin/
gen/
local.properties
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/
mobile/android/app/build/
mobile/android/build/

# Backend Data
backend/tokens.json
